In [1]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

In [2]:
titanic = pd.read_csv('titanic.csv')

In [3]:
titanic

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [4]:
titanic.columns

Index(['PassengerId', 'Name', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived'],
      dtype='object')

In [5]:
titanic.drop(["Name","Embarked","PassengerId",'Ticket','Cabin','PassengerId',"SibSp","Parch","Cabin"],axis=1,inplace=True)
titanic.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [6]:
titanic.columns

Index(['Pclass', 'Sex', 'Age', 'Fare', 'Survived'], dtype='object')

In [7]:
oe=OrdinalEncoder()
titanic['Sex_encoded'] =pd.DataFrame(oe.fit_transform(titanic[[ 'Sex']]),columns=['Sex'])
titanic.drop("Sex",axis=1,inplace=True)
titanic.rename(columns={'Sex_encoded': 'Sex'}, inplace=True)

In [8]:
x=titanic.iloc[:,:-2]
y=titanic.iloc[:,-1]

In [9]:
x.isnull().sum()

Pclass      0
Age       177
Fare        0
dtype: int64

In [10]:
x.fillna(x["Age"].mean(),inplace=True)

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [12]:
mnb=MultinomialNB()
mnb.fit(x_train,y_train)

MultinomialNB()

In [13]:
mnb.predict(x_test)

array([1., 1., 1., 0., 1., 0., 1., 1., 1., 0., 0., 1., 1., 1., 1., 0., 0.,
       1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 0., 0.,
       0., 1., 0., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1.,
       1., 0., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1.,
       1., 0., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 0.,
       1., 1., 0., 0., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1.,
       0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1.,
       1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1.,
       0., 1., 1., 1., 1., 1., 1., 1., 0.])

In [14]:
mnb.predict_proba(x_test)

array([[1.22777188e-03, 9.98772228e-01],
       [2.77046618e-04, 9.99722953e-01],
       [3.16279837e-03, 9.96837202e-01],
       [9.98575234e-01, 1.42476598e-03],
       [5.55094460e-02, 9.44490554e-01],
       [9.99999233e-01, 7.67042721e-07],
       [1.32360622e-04, 9.99867639e-01],
       [1.87071002e-01, 8.12928998e-01],
       [1.08089907e-02, 9.89191009e-01],
       [6.69877616e-01, 3.30122384e-01],
       [9.46918805e-01, 5.30811947e-02],
       [1.44433246e-06, 9.99998556e-01],
       [2.50228759e-02, 9.74977124e-01],
       [1.02775075e-04, 9.99897225e-01],
       [1.16372021e-04, 9.99883628e-01],
       [9.96218139e-01, 3.78186124e-03],
       [7.51814175e-01, 2.48185825e-01],
       [1.35513791e-04, 9.99864486e-01],
       [2.10960730e-03, 9.97890393e-01],
       [3.39109496e-01, 6.60890504e-01],
       [8.66258477e-04, 9.99133742e-01],
       [1.71997375e-02, 9.82800262e-01],
       [4.26934216e-03, 9.95730658e-01],
       [4.64810541e-03, 9.95351895e-01],
       [9.83848667e-04, 9.99016151e-01],
       [9.67926181e-01, 3.20738185e-02],
       [3.57430692e-03, 9.96425693e-01],
       [5.82388239e-04, 9.99417612e-01],
       [9.95227444e-01, 4.77255566e-03],
       [8.97884640e-05, 9.99910212e-01],
       [4.32224274e-03, 9.95677757e-01],
       [1.57884314e-03, 9.98421157e-01],
       [1.93508512e-01, 8.06491488e-01],
       [1.24720754e-04, 9.99875279e-01],
       [6.23301318e-03, 9.93766987e-01],
       [2.31248655e-03, 9.97687513e-01],
       [6.33746159e-01, 3.66253841e-01],
       [1.32360622e-04, 9.99867639e-01],
       [1.92497145e-01, 8.07502855e-01],
       [1.38223380e-04, 9.99861777e-01],
       [9.99998944e-01, 1.05639100e-06],
       [1.34477482e-04, 9.99865523e-01],
       [1.44706662e-04, 9.99855293e-01],
       [1.32360622e-04, 9.99867639e-01],
       [7.02493503e-06, 9.99992975e-01],
       [9.67678828e-01, 3.23211722e-02],
       [4.67143189e-03, 9.95328568e-01],
       [1.77332610e-03, 9.98226674e-01],
       [6.73789164e-04, 9.99326211e-01],
       [9.99999174e-01, 8.26406088e-07],
       [9.20468201e-01, 7.95317992e-02],
       [9.99957245e-01, 4.27546623e-05],
       [1.91188424e-03, 9.98088116e-01],
       [1.00000000e+00, 2.97137459e-14],
       [1.52318799e-09, 9.99999998e-01],
       [9.99999954e-01, 4.59430616e-08],
       [2.00757924e-04, 9.99799242e-01],
       [1.00000000e+00, 2.91391873e-25],
       [1.72980135e-03, 9.98270199e-01],
       [4.30105557e-03, 9.95698944e-01],
       [2.19387860e-03, 9.97806121e-01],
       [5.70428174e-01, 4.29571826e-01],
       [6.80924324e-02, 9.31907568e-01],
       [5.49017318e-02, 9.45098268e-01],
       [1.32360622e-04, 9.99867639e-01],
       [6.38156918e-08, 9.99999936e-01],
       [9.99998944e-01, 1.05639100e-06],
       [1.72066779e-04, 9.99827933e-01],
       [6.73615695e-03, 9.93263843e-01],
       [9.96053952e-01, 3.94604791e-03],
       [1.22169616e-01, 8.77830384e-01],
       [1.00000000e+00, 1.17306691e-31],
       [3.91140908e-01, 6.08859092e-01],
       [9.99985959e-01, 1.40414518e-05],
       [1.18046450e-03, 9.98819536e-01],
       [1.76715497e-04, 9.99823285e-01],
       [1.02262825e-04, 9.99897737e-01],
       [9.98699278e-01, 1.30072151e-03],
       [6.11006730e-05, 9.99938899e-01],
       [1.41166434e-04, 9.99858834e-01],
       [9.93163360e-01, 6.83663956e-03],
       [5.27558474e-04, 9.99472442e-01],
       [1.00000000e+00, 4.55246901e-12],
       [1.31869710e-04, 9.99868130e-01],
       [5.01458950e-05, 9.99949854e-01],
       [1.07150622e-04, 9.99892849e-01],
       [1.00000000e+00, 1.37890673e-10],
       [9.98120669e-01, 1.87933089e-03],
       [1.80030965e-06, 9.99998200e-01],
       [1.14079671e-04, 9.99885920e-01],
       [8.22980105e-01, 1.77019895e-01],
       [9.91273923e-01, 8.72607747e-03],
       [1.62367350e-05, 9.99983763e-01],
       [1.31544751e-04, 9.99868455e-01],
       [1.38223380e-04, 9.99861777e-01],
       [2.35991805e-04, 9.99764008e-01],
       [2.71025193e-01, 7.28974807e-01],
       [1.04653571e-06, 9.99998953e-01],
       [1.16372021e-04, 9.99883628e-01],
       [3.29716566e-04, 9.99670283e-01],
       [9.43285058e-07, 9.99999057e-01],
       [1.99271694e-05, 9.99980073e-01],
       [9.99999998e-01, 2.12045786e-09],
       [7.41356994e-06, 9.99992586e-01],
       [1.11801783e-04, 9.99888198e-01],
       [6.05689604e-04, 9.99394310e-01],
       [6.80283144e-02, 9.31971686e-01],
       [9.18593973e-03, 9.90814060e-01],
       [2.02109044e-04, 9.99797891e-01],
       [9.41969757e-03, 9.90580302e-01],
       [9.92655459e-01, 7.34454056e-03],
       [2.20484499e-03, 9.97795155e-01],
       [9.99999880e-01, 1.19780027e-07],
       [8.42677799e-03, 9.91573222e-01],
       [1.00000000e+00, 8.86729825e-25],
       [5.58499516e-03, 9.94415005e-01],
       [1.29614551e-06, 9.99998704e-01],
       [1.12127155e-04, 9.99887873e-01],
       [5.51940557e-01, 4.48059443e-01],
       [9.96748490e-04, 9.99003252e-01],
       [4.88617789e-03, 9.95113822e-01],
       [9.99988660e-01, 1.13400420e-05],
       [8.69394282e-01, 1.30605718e-01],
       [9.99114692e-01, 8.85307635e-04],
       [5.18205155e-04, 9.99481795e-01],
       [1.25219143e-02, 9.87478086e-01],
       [1.15918024e-04, 9.99884082e-01],
       [9.99999637e-01, 3.62912729e-07],
       [9.71738453e-04, 9.99028262e-01],
       [2.38033780e-03, 9.97619662e-01],
       [1.37542990e-04, 9.99862457e-01],
       [1.22777188e-03, 9.98772228e-01],
       [1.85758092e-05, 9.99981424e-01],
       [6.06358660e-01, 3.93641340e-01],
       [5.38393095e-01, 4.61606905e-01],
       [9.96455150e-02, 9.00354485e-01],
       [1.00000000e+00, 1.84643148e-10],
       [1.67027323e-04, 9.99832973e-01],
       [2.37101815e-06, 9.99997629e-01],
       [1.02206883e-01, 8.97793117e-01],
       [2.66688547e-03, 9.97333115e-01],
       [4.21628670e-04, 9.99578371e-01],
       [1.52946920e-03, 9.98470531e-01],
       [4.00647895e-03, 9.95993521e-01],
       [3.79074748e-03, 9.96209253e-01],
       [6.80603664e-02, 9.31939634e-01],
       [8.03581189e-04, 9.99196419e-01],
       [3.51324025e-09, 9.99999996e-01],
       [1.00000000e+00, 4.62303741e-15],
       [1.99333471e-06, 9.99998007e-01],
       [1.76203623e-04, 9.99823796e-01],
       [7.69206412e-04, 9.99230794e-01],
       [5.78194020e-03, 9.94218060e-01],
       [1.70554626e-02, 9.82944537e-01],
       [1.44706662e-04, 9.99855293e-01],
       [1.07494867e-04, 9.99892505e-01],
       [9.96175191e-01, 3.82480899e-03],
       [1.33844350e-04, 9.99866156e-01],
       [5.52096861e-03, 9.94479031e-01],
       [6.31356189e-04, 9.99368644e-01],
       [8.34734723e-04, 9.99165265e-01],
       [6.53796248e-02, 9.34620375e-01],
       [4.42731076e-05, 9.99955727e-01],
       [9.99999059e-01, 9.41030294e-07],
       [1.63379993e-04, 9.99836620e-01],
       [2.93309617e-02, 9.70669038e-01],
       [3.63411279e-03, 9.96365887e-01],
       [9.92351344e-01, 7.64865624e-03],
       [1.64867048e-03, 9.98351330e-01],
       [1.94877649e-05, 9.99980512e-01],
       [9.99970805e-01, 2.91950071e-05],
       [3.69805607e-02, 9.63019439e-01],
       [8.67886284e-03, 9.91321137e-01],
       [4.91787984e-01, 5.08212016e-01],
       [6.53201928e-03, 9.93467981e-01],
       [1.13235004e-04, 9.99886765e-01],
       [1.01851789e-02, 9.89814821e-01],
       [2.45838151e-02, 9.75416185e-01],
       [8.81874074e-01, 1.18125926e-01]])

In [15]:
mnb.score(x_test,y_test)

0.6759776536312849